<div class = 'col-md-8 offset-2 create-article'>
<% if @article.errors.any? %>
  <ul>
    <%= @article.errors.full_messages.each do |msg|%>
      <li>
        <%= msg %>
      </li>
    <%end%>
  </ul>
<% end %>
<%= form_for @article, html: { multipart: true } do |f| %>
<%= f.text_field :title , class: 'form-control article_title', placeholder: 'Title....'%><br>


<div class="article-button">
<label for='file-input' ><i class="fa fa-upload"><span>Attach a cover picture (Optional)</span></i>
</label>
<%= f.file_field :image_url, class: 'file-input', id: 'file-input' %>
<span>
            <i style="cursor: pointer;" class="fas fa-times"></i>
            </i>
          </span>
           </div>
<div class="image-div">
  <img class="image-display"/>

</div>
        
          

         
  <div class="form-group">
   <div class="form-group mb-4" >
      <%= f.text_area :article_body, class: 'quill_container', placeholder: 'Write your story....',  required: true %>
   </div>
  <%= f.submit "Publish", class: 'btn btn-lg btn-primary float-right article-button' %> 
  </div>
<% end %>
</div>