<div class="container">
  <div class="banner row">
    <div class="d-flex align-items-center col">
      <div class="index-banner">
        <h1 class="w-80">Share Your Thoughts With The World</h1>
        <p class="banner-p">
          There is no limit to what you can achieve with a pen.. Write, the
          world is ready to read.
        </p>
        <%= link_to  'Get Started', signup_path, class: "btn btn-primary btn-block"%>
      </div>
    </div>
    <div class="d-none d-sm-block col"><%= inline_svg('bannerImage.svg')%></div>
  </div>
</div>

<section class="container-fluid reviews">
  <div class="justify-content-center row">
    <div class="col-lg-8 col-md-10">
      <h2 class="text-center">
        A community of like-minded authors fostering inspiration and innovation
        by leveraging the modern web.
      </h2>
    </div>
  </div>
  <div class="text-center row">
    <div class="col">
      <p>
        Blog’s haven indeed lives up to its name. It has been a source of
        succor and comfort to me. In here I have found individuals of like mind
        as I and I have also gained inspiration and motivation. The author’s
        haven team are also very efficient, professional and prompt with their
        responses.
      </p>
      <div class="quotes"></div>
      <p class="reviews-name">Tiku Okoye</p>
      <p>California</p>
    </div>
    <div class="col">
      <p>
        Blog’s haven indeed lives up to its name. It has been a source of
        succor and comfort to me. In here I have found individuals of like mind
        as I and I have also gained inspiration and motivation. The author’s
        haven team are also very efficient, professional and prompt with their
        responses.
      </p>
      <div class="quotes"></div>
      <p class="reviews-name">Dozie Nwoga</p>
      <p>Anambra</p>
    </div>
    <div class="col">
      <p>
        Blog’s haven indeed lives up to its name. It has been a source of
        succor and comfort to me. In here I have found individuals of like mind
        as I and I have also gained inspiration and motivation. The author’s
        haven team are also very efficient, professional and prompt with their
        responses.
      </p>
      <div class="quotes"></div>
      <p class="reviews-name">Ozone Ezenwa</p>
      <p>Hawaii</p>
    </div>
  </div>
</section>
<div class="card-deck">
  <div class="personalised-container ">
    <div class="article-list">
      <h1 class="card-title-size">Featured articles</h1>
      <div class="card-group-index">
  
        <% if @articles %>
        <% @articles.map do |article|%>
        <div class="card-index">
        <a href="/articles/<%= article.id%>">
         <div class="card-article-image">
         <% if  article.avatar.present? %>
         <img src=" <%= article.avatar %>" alt="">
         <% else %> 
         <img src="https://readingagency.org.uk/news/male%20hands%20and%20book.jpg" alt="">
         <% end %>
         </div>
             <div class="article-info-index">
      <div class="user-article-image rounded-circle"
                  style="background-image: url(<%= article.user.avatar %>); background-size:cover;"
            >
      </div>
      <div class="article-author">
        written by <%= article.user.name %>
      </div>
    </div>
         <div class="card-article-title"><%= article.title %></div>
         <div class="card-article-body"><%= article.content %></div>
        </a>
          
          
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <%= render 'layouts/footer' %>